{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{ _('Pre-register') }}{% endblock %}
{% block body %}

<form action="" method="post">
  <p>{{ _('You are about to delete your registration! Are you sure?') }}</p>
  <fieldset>
    {{ render_field(form.confirmbox) }}
  </fieldset>
  <br class="clear">
  <p class="buttons"><input type="submit" class="submit negative" value="{{ _('Delete registration') }}"></p>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
