{% extends "layout.html" %}
{% block title %}{{ _('Pre-registration') }}{% endblock %}
{% block body %}

<p>{{ _('There are multiple registrations for your OpenID. Select the one you wish to edit.') }}</p>

<table>
  <tr>
    <th></th>
    <th>{{ _('Name') }}</th>
    <th><abbr title="{{ _('Needs funding') }}">{{ _('$$$') }}</abbr></th>
    <th><abbr title="{{ _('Vegan or vegetarian') }}">{{ _('Veg') }}</abbr></th>
    <th><abbr title="{{ _('T-shirt size') }}">{{ _('Size') }}</abbr></th>
    <th>{{ _('Roomshare?') }}</th>
    <th>{{ _('Hotel booked?') }}</th>
    <th>{{ _('Comments') }}</th>
    <th>{{ _('Extra line on badge') }}</th>
  </tr>
  {% for registration in registrations %}
  <tr>
    <td><a href="/edit/{{ registration._id }}">{{ _('Edit') }}</a></td>
    <td>{% if registration.fasusername %}<a href="http://fedoraproject.org/wiki/User:{{ registration.fasusername|e }}">{% endif %}{{ registration.firstname|e }} {{ registration.lastname|e }}{% if registration.fasusername %}</a>{% endif %}</td>
    <td>{% if registration.funding %}{{_('Yes') }}{% else %}{{_('No') }}{% endif %}</td>
    <td>{{ registration.veg|e }}</td>
    <td>{{ registration.size|e }}</td>
    <td>{% if registration.roomshare == "Found roommate" %}{{ registration.roommate|e }}{% else %}{{ registration.roomshare|e }}{% endif %}</td>
    <td>{{ registration.hotel_booked|e }}</td>
    <td>{{ registration.comments|e }}</td>
    <td>{{ registration.badge_line|e }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
