{% extends "layout.html" %}
{% block title %}{{ _('Pre-registration') }}{% endblock %}
{% block body %}

{% autoescape false %}
<p>{{ _('Planning to attend %(fudcon)s?', fudcon='<a href="%s">%s %s</a>' % (config.FUDCON_URL, config.FUDCON_NAME, config.FUDCON_YEAR)) }} <strong><a href="/new">{{ _('Pre-register now') }}</a></strong> {{ _('or') }} <strong><a href="/edit">{{ _('edit your registration') }}</a></strong> {{ _('(Tip: you can register multiple people with one login)') }}</p></p>
{% endautoescape %}

{% if now < config.SUBMISSION_DEADLINE %}
<p>{{ _('Want to give a presentation?')  }} <strong><a href="/submit_proposal">{{ _('Submit a proposal') }}</a></strong> {{ _('or') }} <strong><a href="/edit_proposal">{{ _('edit an existing proposal') }}</a></strong>. {{ _('You can view all of the current proposals') }} <strong><a href="/proposals"> {{ _('here') }}</a></strong>.</p>
{% else %}
<p>{{ _('The presentation submission period has closed. You can view all of the current proposals') }} <strong><a href="/proposals"> {{ _('here') }}</a></strong>.</p>
{% if now < config.VOTING_DEADLINE %}
<p>{{ _('You still have until') }} {{ config.VOTING_DEADLINE }} {{ _('UTC to') }} <strong><a href="{{ config.VOTING_URL }}"> {{ _('vote') }}</a></strong> {{ _('on the proposals!') }}</p>
{% else %}
<p>{{ _('The proposal voting period ended on') }} {{ config.VOTING_DEADLINE }} {{ _('UTC. You can view the results') }} <strong><a href="{{ config.VOTING_RESULTS }}">here</a></strong></p>
{% endif %}
{% endif %}

<h2>{{ _('Pre-registration list') }}</h2>

<table>
  <tr>
    <th>#</th>
    <th>{{ _('Name') }}</th>
    <th>{{ _('Location') }}</th>
    <th><abbr title="Needs invitation letter">{{ _('Invitation letter') }}</abbr></th>
    <th><abbr title="Needs flight funding">{{ _('Flight funding') }}</abbr></th>
    <th><abbr title="Needs hotel funding">{{ _('Hotel funding') }}</abbr></th>
    <th><abbr title="Vegan or vegetarian">{{ _('Veg') }}</abbr></th>
    <th>{{ _('Volunteer?') }}</th>
    <th>{{ _('Bringing family?') }}</th>
    <th><abbr title="T-shirt size">{{ _('Size') }}</abbr></th>
    <th>{{ _('Roomshare?') }}</th>
    <th>{{ _('Hotel booked?') }}</th>
    <th>{{ _('Blog') }}</th>
    <th>{{ _('Twitter') }}</th>
    <th>{{ _('Comments') }}</th>
    <th>{{ _('Extra line on badge') }}</th>
  </tr>
  {% for registration in registrations %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{% if registration.fasusername %}<a href="http://fedoraproject.org/wiki/User:{{ registration.fasusername|e }}">{% endif %}{{ registration.firstname|e }} {{ registration.middlename|e}} {{ registration.lastname|e }}{% if registration.fasusername %}</a>{% endif %}</td>
    <td>{{ registration.location|e }}</td>
    <td>{% if registration.invitation_letter %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
    <td>{% if registration.flight_funding %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
    <td>{% if registration.hotel_funding %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
    <td>{{ registration.veg|e }}</td>
    <td>{% if registration.volunteer%}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
    <td>{% if registration.family != "No" %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
    <td>{{ registration.size|e }}</td>
    <td>{% if registration.roomshare == "Found roommate" %}{{ registration.roommate|e }}{% else %}{{ registration.roomshare|e }}{% endif %}</td>
    <td>{{ registration.hotel_booked|e }}</td>
    <td>{{ registration.blog|e }}</td>
    <td>{{ registration.twitter|e }}</td>
    <td>{{ registration.comments|e }}</td>
    <td>{{ registration.badge_line|e }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
