{% extends "layout.html" %}
{% block title %}Pre-registration{% endblock %}
{% block body %}

<p>Planning to attend <a href="{{ config.FUDCON_URL }}">{{ config.FUDCON_NAME}} {{ config.FUDCON_YEAR }}</a>? <strong><a href="/new">Pre-register now</a></strong> or <strong><a href="/edit">edit your registration</a></strong>. (Tip: you can register multiple people with one login)</p>
<p>FUDCon is always free to attend for anyone in the world.</p>

<h2>Pre-registration list</h2>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th><abbr title="Needs funding">$$$</abbr></th>
    <th><abbr title="Vegan or vegetarian">Veg</abbr></th>
    <th>Volunteer?</th>
    <th>Bringing family?</th>
    <th><abbr title="T-shirt size">Size</abbr></th>
    <th>Roomshare?</th>
    <th>Hotel booked?</th>
    <th>Comments</th>
    <th>Extra line on badge</th>
  </tr>
  {% for registration in registrations %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{% if registration.fasusername %}<a href="http://fedoraproject.org/wiki/User:{{ registration.fasusername|e }}">{% endif %}{{ registration.firstname|e }} {{ registration.lastname|e }}{% if registration.fasusername %}</a>{% endif %}</td>
    <td>{% if registration.funding %}Yes{% else %}No{% endif %}</td>
    <td>{{ registration.veg|e }}</td>
    <td>{% if registration.volunteer%}Yes{% else %}No{% endif %}</td>
    <td>{% if registration.family%}Yes{% else %}No{% endif %}</td>
    <td>{{ registration.size|e }}</td>
    <td>{% if registration.roomshare == "Found roommate" %}{{ registration.roommate|e }}{% else %}{{ registration.roomshare|e }}{% endif %}</td>
    <td>{{ registration.hotel_booked|e }}</td>
    <td>{{ registration.comments|e }}</td>
    <td>{{ registration.badge_line|e }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
