<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.FUDCON_NAME }} {{ config.FUDCON_YEAR }} &mdash; {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <div id="header">
      <h1>{{ config.FUDCON_NAME }} &mdash; {{ config.FUDCON_DATES }}, {{ config.FUDCON_YEAR }}</h1>
      <h2>Pre-registration (testing only!)</h2>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <ul id="flashes">
        {% for message in messages %}
      <li>{{ message }}</li>
        {% endfor %}
    </ul>
      {% endif %}
    {% endwith %}
    <div id="content">
    {% if session['openid'] %}
      <p class="gray">You are logged in as {{ session['openid'] }} &mdash; <a href="/logout">Log out</a></p>
    {% else %}
      <p class="gray">You are not logged in &mdash; <a href="/login">Log in with OpenID</a></p>
    {% endif %}
    {% block body %}{% endblock %}
    </div>
  </body>
</html>
{# vim: set ts=2 sw=2 sta et: #}
