{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Submit presentation proposal{% endblock %}
{% block body %}

<form action="" method="post">
  <fieldset>
    {{ render_field(form.title) }}
    {{ render_field(form.abstract) }}
  </fieldset>
  <div class="help">
    <p>The title and abstract of your presentation.</p>
  </div>
  <fieldset>
    {{ render_field(form.category) }}
    {{ render_field(form.type_) }}
  </fieldset>
  <div class="help">
    <p>The category and type of your presentation.</p>
  </div>
  <fieldset>
    {{ render_field(form.fasusername) }}
  </fieldset>
  <br class="clear">
  <p class="buttons"><input type="submit" class="submit positive" value="{{ submit_text }}">{% if delete_text %}<a href="/delete_proposal/{{ uuid }}" class="submit negative">Delete proposal</a>{% endif %} </p>
  {{ form.csrf_token }}
</form>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
