{% extends "layout.html" %}
{% block title %}Presentation Proposals{% endblock %}
{% block body %}

<p>Planning to attend <a href="{{ config.FUDCON_URL }}">{{ config.FUDCON_NAME}} {{ config.FUDCON_YEAR }}</a>? <strong><a href="/new">Pre-register now</a></strong> or <strong><a href="/edit">edit your registration</a></strong> (Tip: you can register multiple people with one login)</p>

<p>Want to give a presentation? <strong><a href="/submit_proposal">submit a proposal</a></strong> or <strong><a href="/edit_proposal">edit an existing proposal</a></strong>.</p>

<h2>Presentation Proposals</h2>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Title</th>
    <th>Abstract</th>
    <th>Category</th>
  </tr>
  {% for proposal in proposals %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ proposal.title|e }}</td>
    <td>{{ proposal.abstract|e }}</td>
    <td>{{ proposal.category|e }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
