{% extends "layout.html" %}
{% block title %}Presentation Proposals{% endblock %}
{% block body %}

<p>{{ _('Planning to attend') }} <a href="{{ config.FUDCON_URL }}">{{ config.FUDCON_NAME}} {{ config.FUDCON_YEAR }}</a>? <strong><a href="/new">{{ _('Pre-register now') }}</a></strong> or <strong><a href="/edit">{{ _('edit your registration') }}</a></strong> {{ _('(Tip: you can register multiple people with one login)') }}</p>

{% if now < config.SUBMISSION_DEADLINE %}
<p>{{ _('Want to give a presentation?') }} <strong><a href="/submit_proposal">{{ _('submit a proposal') }}</a></strong> or <strong><a href="/edit_proposal"> {{ _('edit an existing proposal') }}</a></strong>.</p>
{% else %}
<p>{{ _('The presentation submission period has closed. You can still') }} <strong><a href="/edit_proposal"> {{ _('edit your existing proposal') }}</a></strong>.</p>
{% if now < config.VOTING_DEADLINE %}
<p>{{ _('Vote for your favorite proposals') }} <strong><a href="{{ config.VOTING_URL }}">{{ _('here!') }}</a></strong> The voting period ends on {{ config.VOTING_DEADLINE }} UTC.</p>
{% else %}
<p>The proposal voting period ended on {{ config.VOTING_DEADLINE }} UTC. You can view the results <strong><a href="{{ config.VOTING_RESULTS }}">here</a></strong></p>
{% endif %}
{% endif %}

<h2>{{ _('Presentation Proposals') }}</h2>

<table>
  <tr>
    <th>#</th>
    <th>{{ _('Title') }}</th>
    <th>{{ _('Abstract') }}</th>
    <th>{{ _('Category') }}</th>
    <th>{{ _('Type') }}</th>
  </tr>
  {% for proposal in proposals %}
  <tr>
    <td><a name="{{ loop.index }}" href="#{{ loop.index }}">{{ loop.index }}</a></td>
    <td>{{ proposal.title|e }}</td>
    <td>{{ proposal.abstract|e }}</td>
    <td>{{ proposal.category|e }}</td>
    <td>{{ proposal.type_|e }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
