{% extends "layout.html" %}
{% block title %}Presentation Proposals{% endblock %}
{% block body %}

{% autoescape false %}
<p>{{ _('Planning to attend %(fudcon)s?', fudcon='<a href="%s">%s %s</a>' % (config.FUDCON_URL, config.FUDCON_NAME, config.FUDCON_YEAR)) }} <strong><a href="/new">{{ _('Pre-register now') }}</a></strong> or <strong><a href="/edit">{{ _('edit your registration') }}</a></strong> {{ _('(Tip: you can register multiple people with one login)') }}</p>
{% endautoescape %}

{% if now < config.SUBMISSION_DEADLINE %}
<p>{{ _('Want to give a presentation?') }} <strong><a href="/submit_proposal">{{ _('submit a proposal') }}</a></strong> or <strong><a href="/edit_proposal"> {{ _('edit an existing proposal') }}</a></strong>.</p>
{% else %}
<p>{{ _('The presentation submission period has closed. You can still') }} <strong><a href="/edit_proposal"> {{ _('edit your existing proposal') }}</a></strong>.</p>
{% if now < config.VOTING_DEADLINE %}
<p>{{ _('Vote for your favorite proposals') }} <strong><a href="{{ config.VOTING_URL }}">{{ _('here!') }}</a></strong> The voting period ends on {{ config.VOTING_DEADLINE }} UTC.</p>
{% else %}
<p>{{ _('The proposal voting period ended on') }} {{ config.VOTING_DEADLINE }} {{_('UTC. You can view the results') }} <strong><a href="{{ config.VOTING_RESULTS }}">here</a></strong></p>
{% endif %}
{% endif %}

{% if admin %}
<h2>Admin views:</h2>
<ul>
  <li><a href="/admin/proposals.txt">A list of usernames with proposal titles</a></li>
  <li><a href="/admin/rejected">Users that submitted rejected proposals</a></li>
</ul>
{% endif %}

<h2>{{ _('Presentation Proposals') }}</h2>

<table>
  <tr>
    <th>#</th>
    <th>{{ _('Title') }}</th>
    <th>{{ _('Abstract') }}</th>
    <th>{{ _('Category') }}</th>
    <th>{{ _('Type') }}</th>
    {% if admin %}
      <th>{{_('Action') }}<th>
    {% endif %}
  </tr>
  {% for proposal in proposals %}
    {% if not admin and proposal.rejected %}{{ continue }}{% endif %}
  <tr class="{{ proposal.rejected and "rejected" or "" }}">
    <td><a name="{{ loop.index }}" href="#{{ loop.index }}">{{ loop.index }}</a></td>
    <td>{{ proposal.title|e }}</td>
    <td>{{ proposal.abstract|e }}</td>
    <td>{{ proposal.category|e }}</td>
    <td>{{ proposal.type_|e }}</td>
    {% if admin %}
      {% if proposal.rejected %}
        <td><a href="/admin/accept/{{ proposal._id }}">{{ _('Accept') }}</a></td>
      {% else %}
        <td><a href="/admin/reject/{{ proposal._id }}">{{ _('Reject') }}</a></td>
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
