{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Pre-register{% endblock %}
{% block body %}

<script src="/static/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
  $('#flight_funding').change(function() {
    if ($(this).is(":checked")) {
      $('#flight_details').show();
    } else {
      $('#flight_details').hide();
    }
  })
});
</script>

<form action="" method="post">
  <fieldset>
    {{ render_field(form.firstname) }}
    {{ render_field(form.middlename) }}
    {{ render_field(form.lastname) }}
  </fieldset>
  <div class="help">
    <p>Your name will appear as two lines on your conference badge.</p>
  </div>
  <fieldset>
    {{ render_field(form.email) }}
  </fieldset>
  <div class="help">
    <p>Your email address.</p>
  </div>
  <fieldset>
    {{ render_field(form.fasusername) }}
  </fieldset>
  <div class="help">
    <p>If you include a FAS username, the QR code on your badge will contain your Fedora Project email and a URL to your wiki page.</p>
  </div>
  <fieldset>
    {{ render_field(form.location) }}
  </fieldset>
  <div class="help">
    <p>Where you are located.</p>
  </div>
  <fieldset>
    {{ render_field(form.invitation_letter) }}
  </fieldset>
  <div class="help">
    <p>If you need an invitation letter to attend.</p>
  </div>
  <fieldset>
    {{ render_field(form.flight_funding) }}
    {{ render_field(form.hotel_funding) }}
  </fieldset>
  <div class="help">
    <p>Check theses boxes if you need funding to attend.</p>
  </div>
  <div id="flight_details" style="display:none">
    <fieldset>
      {{ render_field(form.month_of_birth) }}
      {{ render_field(form.day_of_birth) }}
      {{ render_field(form.year_of_birth) }}
      {{ render_field(form.mailing_address) }}
      {{ render_field(form.phone_number) }}
      {{ render_field(form.gender) }}
      {{ render_field(form.passport_country) }}
      {{ render_field(form.passport_number) }}
      {{ render_field(form.departure_airport) }}
      {{ render_field(form.return_airport) }}
      {{ render_field(form.other_notes) }}
    </fieldset>
  </div>
  <fieldset>
    {{ render_field(form.veg) }}
  </fieldset>
  <div class="help">
    <p>If you would prefer vegan or vegetarian fare for any meals we provide during the event, we will do our best to make sure everyone is accommodated.</p>
  </div>
  <fieldset>
    {{ render_field(form.volunteer) }}
  </fieldset>
  <div class="help">
    <p>If you wish to volunteer to help with the conference, select <strong>Yes</strong> here.</p>
  </div>
  <fieldset>
    {{ render_field(form.family) }}
  </fieldset>
  <div class="help">
    <p>Let us know if you plan to bring family (spouse, kids, etc), so we can have an idea of how many extra people will be at any events (re: parties) we throw.</p>
  </div>
  <fieldset>
    {{ render_field(form.roomshare) }}
    {{ render_field(form.roommate) }}
  </fieldset>
  <div class="help">
    <p>If you want or need to share a room, select <strong>Yes</strong> here. Once you find a roommate, edit your registration and select <strong>Found roommate</strong>, then specify who that is in the Roommate box.</p>
  </div>
  <fieldset>
    {{ render_field(form.hotel_booked) }}
    {{ render_field(form.size) }}
    {{ render_field(form.blog) }}
    {{ render_field(form.twitter) }}
    {{ render_field(form.comments) }}
    {{ render_field(form.badge_line) }}
  </fieldset>
  <br class="clear">
  <p class="buttons"><input type="submit" class="submit positive" value="{{ submit_text }}">{% if delete_text %}<a href="/delete/{{ uuid }}" class="submit negative">Delete registration</a>{% endif %} </p>
  {{ form.csrf_token }}
</form>

{% endblock %}
{# vim: set ts=2 sw=2 sta et: #}
